<div class="bg-white pv4">
	<div class="ph3 mw7 center">
		<a id="t.resume"></a>
 		<h2 class="f2 b lh-title mb3">Full Resume</h2>
   		<div class="w-100 flex-ns mhn1-ns flex-wrap mb3">
    			<div class="ph1-ns w-100-ns flex">
				<div class="embedded-doc">
				    <p class="c5" id="h.gjdgxs"><span class="c13">OBJECTIVE: &nbsp;</span><span class="c1">Experienced software architect and creative thinker, with business process management, content management, SAAS, DevOps, continuous integration, and automated testing experience, seeks intellectually stimulating work.</span></p>
				    <p class="c5 c6"><span class="c1"></span></p>
				    <p class="c33"><span class="c13 c19">EMPLOYMENT EXPERIENCE<br></span></p>
				    <a id="t.d8e791dde76ef870bbaf013b5058d1a5dfeeb487"></a>
				    <a id="t.0"></a>
				    <table class="c12">
					<tbody>
					    <tr class="c23">
						<td class="c41" colspan="1" rowspan="1">
						    <p class="c5"><span class="c13">First Quality Enterprises, Inc </span><span class="c1">King of Prussia, PA</span></p>
						    <p class="c5"><span class="c30">Solution Architect</span></p>
						</td>
						<td class="c14" colspan="1" rowspan="1">
						    <p class="c9"><span class="c1">Sept 2017 – Present</span></p>
						</td>
					    </tr>
					</tbody>
				    </table>
				    <p class="c5"><span class="c3 c13 c35">Milestone Achievements:</span></p>
				    <ul class="c2 lst-kix_list_6-0 start">
					<li class="c5 c25"><span class="c8 c3">Lead team of developers in architecting a Sitecore 9.0 multi-site platform as an Azure PaaS web app.</span></li>
					<li class="c5 c25"><span class="c8 c3">Implemented auto-scaling, load balancing, and uptime monitoring for production systems.</span></li>
					<li class="c5 c25"><span class="c8 c3">Migrated Wordpress and Sitecore 8.2 sites into new Sitecore 9.0 multi-site platform built on Helix principles.</span></li>
					<li class="c5 c25"><span class="c8 c3">Implemented Sitecore 9.1 Identity Server federated authentication integration with Azure AD and Azure AD B2C, creating foundation for Social Sign-on integration via Google, Facebook, and other OAuth services.</span></li>
					<li class="c5 c25"><span class="c8 c3">Designed and assisted in the implementation of a SCSS theming framework to enable quick and easy skinning of brand sites while maintaining a unified CMS architecture.</span></li>
					<li class="c5 c25"><span class="c8 c3">Migrated BazaarVoice data into Power Reviews and integrated Power Reviews with Sitecore.</span></li>
					<li class="c5 c25"><span class="c8 c3">Integrated Email Studio from Salesforce Marketing Cloud into Sitecore 9 Forms.</span></li>
					<li class="c5 c25"><span class="c8 c3">Created automated visual and behavioral regression testing suite to reduce defects.</span></li>
					<li class="c5 c25"><span class="c8 c3">Presented DevOps Community of Practice planning initiative and roadmap for consideration.</span></li>
					<li class="c5 c25"><span class="c8 c3">Planned migration off of TeamCity and Atlassian tools into Azure DevOps Pipelines, Artifacts, Boards, and other Azure services for a unified development process flow.</span></li>
				    </ul>
				    <p class="c5"><span class="c3 c13">Technologies actively used in this position:</span></p>
				    <ul class="c2 lst-kix_list_1-0 start">
					<li class="c0"><span class="c8 c3">Sitecore 8.2, 9.0, 9.1</span></li>
					<li class="c0"><span class="c8 c3">Sitecore Platform as a Service implementation in Azure</span></li>
					<li class="c0"><span class="c8 c3">Azure IaaS, PaaS, SaaS, FaaS, Azure Microservices</span></li>
					<li class="c0"><span class="c8 c3">Browserstack Automate</span></li>
					<li class="c0"><span class="c8 c3">Azure VNets, Express Routes, load balancing</span></li>
					<li class="c0"><span class="c8 c3">Azure Microservices, Functions</span></li>
					<li class="c0"><span class="c8 c3">Azure AD, Azure AD B2C, OAuth, OpenID Connect</span></li>
					<li class="c0"><span class="c8 c3">IdentityServer4, Sitecore Identity Server</span></li>
					<li class="c0"><span class="c3">Visual Studio 2017, C# .NET MVC</span></li>
					<li class="c0"><span class="c3">VMWare VDI creation and management</span></li>
					<li class="c0"><span class="c8 c3">JSON, JQuery, Javascript, Sitecore JSS</span></li>
					<li class="c0"><span class="c8 c3">Selenium Web Driver, Gherkin, ZombieJS, CucumberJS</span></li>
					<li class="c0"><span class="c8 c3">MSSQL 2014, Azure SQL</span></li>
					<li class="c0"><span class="c8 c3">Azure DevOps: CI/CD, auto-scaling, Pipelines, Artifacts, Repositories, ARM templates, DSC</span></li>
					<li class="c0"><span class="c3">MS Office Suite (Outlook, PowerPoint, Excel, Word, Access, Visio, Publisher) including VB for Applications</span></li>
					<li class="c0"><span class="c3">Photoshop Creative Suite</span></li>
					<li class="c0"><span class="c3">Windows 7, Windows 10, Windows Server 2008 with IIS7</span></li>
				    </ul>
				    <a id="t.88066f87814f9107a5c6d437d2be53bee9a7f986"></a>
				    <a id="t.1"></a>
				    <table class="c12">
					<tbody>
					    <tr class="c23">
						<td class="c39" colspan="1" rowspan="1">
						    <p class="c5"><span class="c13">Phase2 Technology, LLC </span><span class="c1">Alexandria, VA</span></p>
						    <p class="c5"><span class="c30">Senior Software Developer</span></p>
						</td>
						<td class="c16" colspan="1" rowspan="1">
						    <p class="c9"><span class="c1">July 2014 – June 2017</span></p>
						</td>
					    </tr>
					</tbody>
				    </table>
				    <p class="c5"><span class="c3 c13">Primary role:</span><span class="c31 c3 c30">&nbsp;Software Architect for Energy.gov Design Refresh Project</span></p>
				    <p class="c5"><span class="c35 c3 c13">Milestone Achievements:</span></p>
				    <ul class="c2 lst-kix_list_6-0">
					<li class="c5 c25"><span class="c8 c3">Lead team of developers in architecting and implementing a major redesign of the Department of Energy's public facing website, Energy.gov, a large scale multi&shy;server enterprise platform with dozens of nested websites.</span></li>
					<li class="c5 c25"><span class="c8 c3">Handled ongoing content migrations and architecture updates to the existing Energy.gov systems while leading the redesign efforts.</span></li>
					<li class="c5 c25"><span class="c8 c3">Triaged major DB deadlocking issues during the redesign efforts, finding and patching a flaw in a Drupal contrib module that was causing State Machine workflow actions to fail to complete.</span></li>
					<li class="c5 c25"><span class="c8 c3">Integrated Solr indexing of dozens of Wordpress sites so that a parent Drupal based site could include results from these satellite sites in search results seamlessly alongside the site’s own search results.</span></li>
					<li class="c5 c25"><span class="c8 c3">Developed the Simple Podcast module for Drupal 7</span></li>
				    </ul>
				    <p class="c5"><span class="c35 c3 c13">Patches submitted to Drupal.org:</span></p>
				    <ul class="c2 lst-kix_list_7-0 start">
					<li class="c5 c25"><span class="c36 c3"><a class="c26" href="https://www.google.com/url?q=https://www.drupal.org/node/2579205%23comment&amp;sa=D&amp;ust=1570646823097000">https://www.drupal.org/node/2579205#comment&shy;11786704</a></span></li>
					<li class="c5 c25"><span class="c3 c36"><a class="c26" href="https://www.google.com/url?q=https://www.drupal.org/node/2869611&amp;sa=D&amp;ust=1570646823098000">https://www.drupal.org/node/2869611</a></span></li>
					<li class="c5 c25"><span class="c36 c3"><a class="c26" href="https://www.google.com/url?q=https://www.drupal.org/node/2870868&amp;sa=D&amp;ust=1570646823099000">https://www.drupal.org/node/2870868</a></span></li>
				    </ul>
				    <p class="c5"><span class="c3 c13">&nbsp;Technologies actively used in this position:</span></p>
				    <ul class="c2 lst-kix_list_1-0">
					<li class="c0"><span class="c3 c8">Drupal 7</span></li>
					<li class="c0"><span class="c8 c3">Wordpress</span></li>
					<li class="c0"><span class="c3">PHPStorm IDE</span></li>
					<li class="c0"><span class="c3">PHP 5</span></li>
					<li class="c0"><span class="c8 c3">JSON, JQuery, Javascript, Grunt, npm</span></li>
					<li class="c0"><span class="c8 c3">SCSS, SASS, LESS</span></li>
					<li class="c0"><span class="c8 c3">MySQL, Percona, MariaDB</span></li>
					<li class="c0"><span class="c8 c3">RHEL</span></li>
					<li class="c0"><span class="c8 c3">AWS S3, automated deploy and devops process</span></li>
					<li class="c0"><span class="c8 c3">Selenium WebDriver, ZombieJS, Behat, Gherkin</span></li>
					<li class="c0"><span class="c3">Google Docs Office Suite (Document, Presentation, Spreadsheet, Form, Drawing) including Spreadsheet scripting via javascript</span></li>
					<li class="c0"><span class="c3">File management via FireFTP, TortoiseSVN, VisualSVN, Git, SourceTree, telnet, SFTP</span></li>
					<li class="c0"><span class="c3">Communications via Yammer, Skype, Google Voice, WebEx, Join.me, Flowdock</span></li>
				    </ul>
				    <a id="t.e2baf247bd080759faa85683e36b56a0599d13b4"></a>
				    <a id="t.2"></a>
				    <table class="c12">
					<tbody>
					    <tr class="c23">
						<td class="c39" colspan="1" rowspan="1">
						    <p class="c5"><span class="c13">Independent Contractor </span><span class="c1">Upper Pottsgrove, PA</span></p>
						    <p class="c5"><span class="c30">Senior Software Developer</span></p>
						</td>
						<td class="c16" colspan="1" rowspan="1">
						    <p class="c9"><span class="c1">May 2014 – July 2014</span></p>
						</td>
					    </tr>
					</tbody>
				    </table>
				    <p class="c10"><span class="c35 c3 c13">Clients:</span></p>
				    <a id="t.dc31e7b9f5dbfa22aac412584cc7dd93f4798637"></a>
				    <a id="t.3"></a>
				    <table class="c12">
					<tbody>
					    <tr class="c28">
						<td class="c45" colspan="1" rowspan="1">
						    <p class="c5"><span class="c3 c13">Atmosphere Proximity BBDO</span></p>
						</td>
						<td class="c20" colspan="1" rowspan="1">
						    <p class="c5"><span class="c3 c13 c42">atmospherebbdo.com</span></p>
						</td>
					    </tr>
					</tbody>
				    </table>
				    <p class="c5"><span class="c3 c13">Technologies actively used in this position:</span></p>
				    <ul class="c2 lst-kix_list_1-0">
					<li class="c0"><span class="c3">Visual Studio 2014, C# .NET</span></li>
					<li class="c0"><span class="c3">SCSS, SASS</span></li>
					<li class="c0"><span class="c3">JSON, JQuery, Javascript</span></li>
				    </ul>
				    <p class="c5 c6"><span class="c8 c38"></span></p>
				    <p class="c5 c6"><span class="c8 c38"></span></p>
				    <a id="t.1cccfb690d5b947509e54333b38032a9b99ac96a"></a>
				    <a id="t.4"></a>
				    <table class="c12">
					<tbody>
					    <tr class="c23">
						<td class="c44" colspan="1" rowspan="1">
						    <p class="c5"><span class="c13">Fynydd, LLC </span><span class="c1">King of Prussia, PA</span></p>
						    <p class="c5"><span class="c30">Lead Software Architect</span></p>
						</td>
						<td class="c4" colspan="1" rowspan="1">
						    <p class="c9"><span class="c1">December 2010 – May 2014</span></p>
						</td>
					    </tr>
					</tbody>
				    </table>
				    <p class="c5"><span class="c3 c13">Milestone achievements:</span></p>
				    <ul class="c2 lst-kix_list_2-0 start">
					<li class="c0"><span class="c3">Led development efforts for the Eaton Filtration iPhone app</span></li>
					<li class="c0"><span class="c3">Developed numerous .NET website and web application solutions with less than a week lead time.</span></li>
					<li class="c0"><span class="c3">Developed Facebook application to enter a sweepstakes, modified to support subsequent promotions</span></li>
					<li class="c0"><span class="c3">Created promotion code generator using encryption algorithms and error handling to ensure unique codes and a random spread, guaranteeing no sequential guessable codes.</span></li>
					<li class="c0"><span class="c3">MSSQL 2008 to 2005 DB conversion to support legacy environment</span></li>
					<li class="c0"><span class="c3">Developed MSSQL 2008 to SQLite export utility</span></li>
					<li class="c0"><span class="c8 c3">Architected an Enterprise level Sitecore responsive design website template system that enables rapid deployment of multiple sites with minimal effort and minimal customization. &nbsp;Managed a team of developers to implement this platform.</span></li>
					<li class="c0"><span class="c8 c3">Created a drop-in IE8 fallback solution utilizing a limited number of open source javascript libraries, including a fork of the Respond.JS library to support HTML5 &lt;style&gt; tags embedded in the document body.</span></li>
					<li class="c0"><span class="c8 c3">Developed an open-source, cross-browser method for injecting unobtrusive javascript into the head of a site from .NET controls when these controls have been cached by Sitecore and no longer run the backend code.</span></li>
				    </ul>
				    <p class="c5"><span class="c3 c13">Technologies actively used in this position:</span></p>
				    <ul class="c2 lst-kix_list_1-0">
					<li class="c0"><span class="c3">Visual Studio 2010, C# .NET website, web application, and console application solutions</span></li>
					<li class="c0"><span class="c3">XML, XSLT, JSON, JQuery, Javascript</span></li>
					<li class="c0"><span class="c3">Umbraco</span></li>
					<li class="c0"><span class="c3">iPhone development tools (C#.NET MonoTouch, XCode, IB, iOS 4)</span></li>
					<li class="c0"><span class="c3">MSSQL 2005, MSSQL 2008, SQLite3</span></li>
					<li class="c0"><span class="c3">MS Office Suite (Outlook, PowerPoint, Excel, Word, Access, Visio, Publisher) including VB for Applications</span></li>
					<li class="c0"><span class="c3">Google Docs Office Suite (Document, Presentation, Spreadsheet, Form, Drawing) including Spreadsheet scripting via javascript</span></li>
					<li class="c0"><span class="c3">Photoshop Elements 9</span></li>
					<li class="c0"><span class="c3">File management via FireFTP, TortoiseSVN, VisualSVN, Cornerstone</span></li>
					<li class="c0"><span class="c3">Communications via Yammer, Skype, Google Voice, WebEx, Join.me, HipChat</span></li>
					<li class="c0"><span class="c3">Windows XP, Windows 7, Mac OSX, Windows Server 2003 with IIS6, Windows Server 2008 with IIS7</span></li>
					<li class="c0"><span class="c8 c3">Sitecore 6.5</span></li>
				    </ul>
				    <hr style="page-break-before:always;display:none;">
				    <p class="c5 c6"><span class="c1"></span></p>
				    <a id="t.369592f894e88cf5b1474bc2ab9a830afb3d2388"></a>
				    <a id="t.5"></a>
				    <table class="c12">
					<tbody>
					    <tr class="c23">
						<td class="c53" colspan="1" rowspan="1">
						    <p class="c5"><span class="c13">Independent Contractor </span><span class="c1">Upper Pottsgrove, PA</span></p>
						    <p class="c5"><span class="c30">Application Developer &amp; Consultant</span></p>
						</td>
						<td class="c49" colspan="1" rowspan="1">
						    <p class="c9"><span class="c1">August 2010 – December 2010</span></p>
						</td>
					    </tr>
					</tbody>
				    </table>
				    <p class="c10"><span class="c35 c3 c13">Clients:</span></p>
				    <a id="t.fe17f865b0afe5de57fa60120d680d0c2f0ed838"></a>
				    <a id="t.6"></a>
				    <table class="c12">
					<tbody>
					    <tr class="c28">
						<td class="c45" colspan="1" rowspan="1">
						    <p class="c5"><span class="c3">Fynydd, LLC</span></p>
						</td>
						<td class="c20" colspan="1" rowspan="1">
						    <p class="c5"><span class="c11 c3"><a class="c26" href="https://www.google.com/url?q=http://fynydd.com&amp;sa=D&amp;ust=1570646823114000">fynydd.com</a></span></p>
						</td>
					    </tr>
					    <tr class="c28">
						<td class="c45" colspan="1" rowspan="1">
						    <p class="c5 c40"><span class="c8 c3">SaviSites, LLC</span></p>
						</td>
						<td class="c20" colspan="1" rowspan="1">
						    <p class="c5 c40"><span class="c3 c11"><a class="c26" href="https://www.google.com/url?q=http://savisites.com&amp;sa=D&amp;ust=1570646823116000">savisites.com</a></span></p>
						</td>
					    </tr>
					</tbody>
				    </table>
				    <p class="c5"><span class="c3 c13">Technologies actively used in this position:</span></p>
				    <ul class="c2 lst-kix_list_1-0">
					<li class="c0"><span class="c3">Visual Studio 2010, C# .NET website, web application, and console application solutions</span></li>
					<li class="c0"><span class="c3">Eclipse IDE, PHP 4.1</span></li>
					<li class="c0"><span class="c3">JSON, JQuery, Javascript</span></li>
					<li class="c0"><span class="c3">MSSQL 2005, MySQL</span></li>
					<li class="c0"><span class="c3">MS Office Suite (Outlook, PowerPoint, Excel, Word, Access, Visio, Publisher) including VB for Applications</span></li>
					<li class="c0"><span class="c3">Google Docs Office Suite (Document, Presentation, Spreadsheet, Form, Drawing) including Spreadsheet scripting via javascript</span></li>
					<li class="c0"><span class="c3">Photoshop Elements 9, GIMP 2</span></li>
					<li class="c0"><span class="c3">File management via FireFTP, TortoiseSVN, VisualSVN, Git, telnet</span></li>
					<li class="c0"><span class="c3">Communications via Yammer, Skype, Google Voice, WebEx, Join.me</span></li>
					<li class="c0"><span class="c3">Windows XP, Windows 7, Mac OSX, Windows Server 2003 with IIS6, CentOS with Apache</span></li>
				    </ul>
				    <a id="t.12e611797a4f1b30bdc5299d3d8ef646f46c610d"></a>
				    <a id="t.7"></a>
				    <table class="c12">
					<tbody>
					    <tr class="c23">
						<td class="c50" colspan="1" rowspan="1">
						    <p class="c5"><span class="c13">AmerisourceBergen Company </span><span class="c1">Wayne, PA</span></p>
						    <p class="c5"><span class="c30">Application Developer II</span></p>
						</td>
						<td class="c52" colspan="1" rowspan="1">
						    <p class="c9"><span class="c1">January 2008 – October 2010</span></p>
						</td>
					    </tr>
					</tbody>
				    </table>
				    <p class="c5"><span class="c3 c13">Milestone achievements:</span></p>
				    <ul class="c2 lst-kix_list_4-0 start">
					<li class="c0"><span class="c3">In coordination with ABC’s Metastorm COE, developed Accounts Payable reconciliation system</span></li>
					<li class="c0"><span class="c3">SAP data integration with existing Metastorm Accounts Payable system.</span></li>
					<li class="c0"><span class="c3">Enhanced existing custom Javascript library for Metastorm to support new object types on the client side such as multi select check lists.</span></li>
					<li class="c0"><span class="c3">Coordinated with Server Administrators to identify issues with SAN storage which were causing major Metastorm application outages.</span></li>
				    </ul>
				    <p class="c5"><span class="c3 c13">Technologies actively used in this position:</span></p>
				    <ul class="c2 lst-kix_list_1-0">
					<li class="c0"><span class="c3">Javascript / JScript, AJAX (Prototype, JQuery, custom AJAX library extensions), RegEx</span></li>
					<li class="c0"><span class="c3">ActiveX controls</span></li>
					<li class="c0"><span class="c3">Metastorm BPM 7.5.1.2</span></li>
					<li class="c0"><span class="c3">MSSQL 2000 / 2005 Management Studio</span></li>
					<li class="c0"><span class="c3">Visual Studio 2005:</span></li>
				    </ul>
				    <ul class="c2 lst-kix_list_1-1 start">
					<li class="c5 c7"><span class="c3">C# .NET 2.0 / AJAX enabled custom components</span></li>
					<li class="c5 c7"><span class="c3">VB.NET 1.1 / 2.0</span></li>
				    </ul>
				    <ul class="c2 lst-kix_list_1-0">
					<li class="c0"><span class="c3">Web services (WSDL, SOAP, client JSON parsing, XML parsing)</span></li>
					<li class="c0"><span class="c3">XHTML / CSS / XML</span></li>
					<li class="c0"><span class="c3">Notepad++</span></li>
					<li class="c0"><span class="c3">WAMP Stack:</span></li>
				    </ul>
				    <ul class="c2 lst-kix_list_1-1 start">
					<li class="c5 c7"><span class="c3">Apache 2.2</span></li>
					<li class="c5 c7"><span class="c3">mySQL 5.x</span></li>
					<li class="c5 c7"><span class="c3">PHP 5.x</span></li>
				    </ul>
				    <ul class="c2 lst-kix_list_1-0">
					<li class="c0"><span class="c3">VBScript / VBA / Excel Automation</span></li>
					<li class="c0"><span class="c3">Microsoft Office XP/2007</span></li>
					<li class="c0"><span class="c3">DOS Batch scripting</span></li>
					<li class="c0"><span class="c3">TortoiseSVN 1.5</span></li>
					<li class="c0"><span class="c3">Windows Server 2000/2003 / IIS 6</span></li>
					<li class="c0"><span class="c3">SAP</span></li>
				    </ul>
				    <p class="c5 c6"><span class="c1"></span></p>
				    <a id="t.8df56d3f664f226837e009b4d4a07959e5b7bd9d"></a>
				    <a id="t.8"></a>
				    <table class="c12">
					<tbody>
					    <tr class="c23">
						<td class="c34" colspan="1" rowspan="1">
						    <p class="c5"><span class="c13">Metavante Lending Solutions </span><span class="c1">Wayne, PA</span></p>
						    <p class="c5"><span class="c30">Technical Support Specialist</span></p>
						</td>
						<td class="c46" colspan="1" rowspan="1">
						    <p class="c9"><span class="c1">February 2006 – December 2007</span></p>
						</td>
					    </tr>
					</tbody>
				    </table>
				    <p class="c5"><span class="c3 c13">Milestone achievements:</span></p>
				    <ul class="c2 lst-kix_list_4-0">
					<li class="c0"><span class="c3">Implemented SOPs to triage production issues and perform root cause analysis</span></li>
					<li class="c0"><span class="c3">Reviewed html, VBscript, core code, databases, and/or &nbsp;XML code tables to identify root cause of development issues and provided many solutions to the issues in the help ticket, reducing or eliminating development time required to resolve and patch the issue</span></li>
					<li class="c0"><span class="c3">Installed and maintained testing server installations of often used MLS products to enable easy testing of production issues</span></li>
				    </ul>
				    <p class="c5"><span class="c3 c13">Technologies actively used in this position:</span></p>
				    <ul class="c2 lst-kix_list_1-0">
					<li class="c0"><span class="c3">XHTML / XML, XMLSpy, VBScript</span></li>
					<li class="c0"><span class="c3">MSSQL 2000, Oracle</span></li>
					<li class="c0"><span class="c3">Windows Server NT/2000, Windows XP, Microsoft Office XP</span></li>
					<li class="c0"><span class="c3">Cisco Call Manager, VMWare</span></li>
					<li class="c0"><span class="c3">MLS Products (Loan Origination Studio, Internet Direct, Wholesale, Consumer LOS, Mobile Loan Officer)</span></li>
					<li class="c0"><span class="c3">Unix command line / Telnet</span></li>
					<li class="c0"><span class="c3">Notepad++</span></li>
				    </ul>
				    <a id="t.1d9fcafca9fe829389464b072f8f6e6176e80534"></a>
				    <a id="t.9"></a>
				    <table class="c12">
					<tbody>
					    <tr class="c23">
						<td class="c21" colspan="1" rowspan="1">
						    <p class="c5"><span class="c13">Catholic Health East </span><span class="c1">Conshohocken, PA</span></p>
						    <p class="c5"><span class="c30">Computer Operator I</span></p>
						</td>
						<td class="c54" colspan="1" rowspan="1">
						    <p class="c9"><span class="c1">August 2004 – January 2006</span></p>
						</td>
					    </tr>
					</tbody>
				    </table>
				    <p class="c5"><span class="c3 c13">Milestone achievements:</span></p>
				    <ul class="c2 lst-kix_list_4-0">
					<li class="c0"><span class="c3">Scripted monitoring tasks to facilitate easy monitoring of Unity, Invision, Meditech, Openlink, Chartlink, PACS, RAS, and Misys systems in less than 20% of the time it took when starting at the company</span></li>
				    </ul>
				    <p class="c5"><span class="c3 c13">Technologies actively used in this position:</span></p>
				    <ul class="c2 lst-kix_list_1-0">
					<li class="c0"><span class="c3">IBM Dumb Terminals</span></li>
					<li class="c0"><span class="c3">DLTtape Backup Drives, HPStorageWorks MSL5000 Series Library</span></li>
					<li class="c0"><span class="c3">Lexmark W810/SE3455/Optra T619 Printers, IBM 6400 Impac Printer</span></li>
					<li class="c0"><span class="c3">HEAT Call logging system</span></li>
					<li class="c0"><span class="c3">Unity, Invision, Meditech, Openlink, Chartlink, PACS, RAS, and Misys systems.</span></li>
				    </ul>
				    <p class="c5 c6"><span class="c1"></span></p>
				    <hr style="page-break-before:always;display:none;">
				    <p class="c5 c6"><span class="c1"></span></p>
				    <p class="c5 c6"><span class="c1"></span></p>
				    <p class="c33"><span class="c13">EDUCATION</span></p>
				    <p class="c5"><span class="c13">Eastern University</span><span class="c1">&nbsp;St. Davids, PA</span></p>
				    <p class="c5"><span class="c3 c30">Bachelors of Science in Business Administration</span></p>
				    <ul class="c2 lst-kix_list_3-0 start">
					<li class="c0"><span class="c3">Graduated with Distinction, Delta Mu Delta National Honors Society</span></li>
				    </ul>
				    <p class="c5 c6"><span class="c1"></span></p>
				    <p class="c5"><span class="c13">Minnesota State Community &amp; Technical College</span><span class="c1">&nbsp;Moorhead, MN</span></p>
				    <p class="c5"><span class="c3 c30">Associates of Applied Science in Computer Networking</span></p>
				    <ul class="c2 lst-kix_list_5-0 start">
					<li class="c0"><span class="c3">Student Tutor while enrolled at MSCTC</span></li>
				    </ul>
				    <p class="c5 c6"><span class="c1"></span></p>
				    <p class="c33"><span class="c19 c13">CERTIFICATIONS</span></p>
				    <a id="t.0cabbf3c171cddd82304d95ae43eb60e2390348b"></a>
				    <a id="t.10"></a>
				    <table class="c12">
					<tbody>
					    <tr class="c23">
						<td class="c27" colspan="1" rowspan="1">
						    <p class="c5"><span class="c19 c13">AZ-900 Azure Fundamentals</span></p>
						    <p class="c5"><span class="c31 c15">Certification</span></p>
						</td>
						<td class="c18" colspan="1" rowspan="1">
						    <p class="c22"><span class="c1">August, 2019</span></p>
						</td>
					    </tr>
					    <tr class="c23">
						<td class="c27" colspan="1" rowspan="1">
						    <p class="c5"><span class="c19 c13">Sitecore 9 Certified Developer</span></p>
						    <p class="c5"><span class="c15 c31">Certification obtained at Sitecore Symposium without training</span></p>
						</td>
						<td class="c18" colspan="1" rowspan="1">
						    <p class="c22"><span class="c1">October 2018</span></p>
						</td>
					    </tr>
					    <tr class="c23">
						<td class="c27" colspan="1" rowspan="1">
						    <p class="c5"><span class="c19 c13">Sitecore 6.5 Certified Developer</span></p>
						    <p class="c5"><span class="c15">Training Course &amp; Certification</span></p>
						</td>
						<td class="c18" colspan="1" rowspan="1">
						    <p class="c22"><span class="c1">April 9, 2012 – April 12, 2012</span></p>
						</td>
					    </tr>
					    <tr class="c23">
						<td class="c27" colspan="1" rowspan="1">
						    <p class="c5"><span class="c13">MS Visual Studio.NET 2.0 30-305</span></p>
						    <p class="c5"><span class="c15">Training Course &amp; .NET 2.0 Certification</span></p>
						</td>
						<td class="c18" colspan="1" rowspan="1">
						    <p class="c22"><span class="c1">March 2007 – July 2007</span></p>
						</td>
					    </tr>
					    <tr class="c23">
						<td class="c27" colspan="1" rowspan="1">
						    <p class="c5"><span class="c13">Sitecore Certified Developer</span></p>
						    <p class="c5"><span class="c15">Training Course &amp; Sitecore 6.5 Certification</span></p>
						</td>
						<td class="c18" colspan="1" rowspan="1">
						    <p class="c22"><span class="c1">March 2007 – July 2007</span></p>
						</td>
					    </tr>
					</tbody>
				    </table>
				    <p class="c5 c6"><span class="c1"></span></p>
				    <p class="c33"><span class="c13">COMPUTER SKILLS SUMMARY</span></p>
				    <a id="t.3bf550d6609a4457e8ddad23d2fcb06b020abb81"></a>
				    <a id="t.11"></a>
				    <table class="c12">
					<tbody>
					    <tr class="c29">
						<td class="c43" colspan="1" rowspan="1">
						    <p class="c10"><span class="c13">Development Concepts</span></p>
						</td>
						<td class="c24" colspan="1" rowspan="1">
						    <p class="c10"><span class="c3">Problem analysis, structured programming, debugging. &nbsp;GUI design, web design. &nbsp;Object-Oriented programming, pseudo code, file manipulation. &nbsp;Database admin, data normalization, database reporting. &nbsp;Exception handling, threading, multitasking, event handling, delegates. Three-tiered development model, Client/Server architecture. Enterprise level code and DB optimization. Inversion of Control, Services, Dependency Injection.</span></p>
						</td>
					    </tr>
					    <tr class="c29">
						<td class="c43" colspan="1" rowspan="1">
						    <p class="c10"><span class="c13">Personal Development Projects</span></p>
						</td>
						<td class="c24" colspan="1" rowspan="1">
						    <p class="c10"><span class="c8 c3">Hugo CMS development for personal website.</span></p>
						    <p class="c10"><span class="c3">Developed algorithm for JavaScript language to properly identify an object's datatype, differentiating between null, undefined, array, object, function, and other types as an enhancement to the existing typeof functionality.</span></p>
						    <p class="c10"><span class="c3">Developing a JavaScript library which loads functions and modules as needed via AJAX to reduce initial library download size considerably.</span></p>
						</td>
					    </tr>
					</tbody>
				    </table>
				    <p class="c5"><span class="c1">&nbsp;</span></p>
				    <p class="c33"><span class="c13">COMMUNITY SERVICE</span></p>
				    <p class="c5 c6"><span class="c1"></span></p>
				    <p class="c5"><span class="c1">Media Director, Hope Community Church, PA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;October 2010 - October 2018</span></p>
				    <p class="c5"><span class="c1">Philly Give Camp, Developer Malvern, PA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;June 2010</span></p>
				    <p class="c5"><span class="c1">Impact Chicago, Missionary Chicago, IL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;One week per year from June 1993 – June 2004</span></p>
				    <p class="c5 c6"><span class="c1"></span></p>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
.embedded-doc {
    font-size:75%;
    line-height:1.3em;
    max-width: 700px;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}
table {
    width:100%;
}
td:last-child * {
    text-align: right;
}
td:first-child * {
    text-align: left;
}
ul[class *= "list_"][class *="-0"] {
    list-style:disc;
    margin-left:2em;
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;

}
ul[class *= "list_"][class *="-1"]{
    list-style:circle;
    margin-left:4em;
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
}
ul[class *= "list_"][class *="-2"]{
    list-style:circle;
    margin-left:6em;
        margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;

}

*:empty() {
    display:none;
    position:absolute;
}
.c20 {
    margin-top:2.5em;
}
.c8 {font-weight:bold;}
.c13 {font-style:italic; display:inline-block; margin-bottom:1em;}
.c7 {margin-bottom:0;}
.c17 {margin-bottom: 1em;}
.c20 ~* {padding-left:1em;}
.c25 { margin-bottom:0; }
.c25 + a + a + .c20 *,
.c25 + a + a + .c20 + .c1 + a + a + .c20 * { padding-left:1em; font-size:.95em;}
.c25 .c4 {
   text-align:left;
   margin-bottom:.5em;
   padding-bottom:0;
   display:inline-block;
}
.c20 + .c9 + .c9,
.c20 + .c9 + .c9 + .c9 {
    margin-left:2em;
}
.c12 * {
    padding-bottom:0;
    margin-bottom:0;
    line-height:2em;
}

a[id ^= "t"]{
    line-height:0;
    font-size:0;
    padding:0!important;
    margin:0!important;
    
}
td {vertical-align:top;}

a[id="t.6"] + .c20 {
    padding-top:0;
    margin-top:0;
    margin-bottom:1em;
}

</style>
<script type="text/javascript" id="replaceIFrames">	
        // get all iframes that were parsed before this tag
        var iframes = document.getElementsByTagName("iframe");

        for (let i = 0; i < iframes.length; i++) {
            var url = iframes[i].getAttribute("src");
            if (url.startsWith("https://docs.google.com/document/d/")) {
                // create div and replace iframe
                let d = document.createElement('div');
                d.classList.add("embedded-doc"); // optional
                iframes[i].parentElement.replaceChild(d, iframes[i]);

                // CORS request
                var xhr = new XMLHttpRequest();
                xhr.open('GET', url, true);
                xhr.onload = function() {
                    // display response
                    d.innerHTML = xhr.responseText;
		    var metas = d.getElementsByTagName("meta");
		    for (var i = 0; i < metas.length; i++) {
			metas[i].parentNode.removeChild(metas[i]);
		    }
			
		    var styles = d.getElementsByTagName("style");
		    for (var i = 0; i < styles.length; i++) {
			styles[i].parentNode.removeChild(styles[i]);
		    }
		    d.removeChild(d.firstElementChild);
                };
                xhr.send();
            }
        }
    </script>
