<div class="bg-white pv4">
	<div class="ph3 mw7 center">
 		<h2 class="f2 b lh-title mb3">Full Resume</h2>
   		<div class="w-100 flex-ns mhn1-ns flex-wrap mb3">
    			<div class="ph1-ns w-100-ns flex">
				<iframe style="height:100vh; width:100%;" src="https://docs.google.com/document/d/e/2PACX-1vRY-sS3FLzU0hA6g3xY0zDkABHjetbqufDRYJOHeXcKVyeEIfn_uTbWDPCGeGF-m_Rg4VjQ0ZIw9NJ6/pub?embedded=true"></iframe>
			</div>
		</div>
	</div>
</div>
<script>
        // get all iframes that were parsed before this tag
        var iframes = document.getElementsByTagName("iframe");

        for (let i = 0; i < iframes.length; i++) {
            var url = iframes[i].getAttribute("src");
            if (url.startsWith("https://docs.google.com/document/d/")) {
                // create div and replace iframe
                let d = document.createElement('div');
                d.classList.add("embedded-doc"); // optional
                iframes[i].parentElement.replaceChild(d, iframes[i]);

                // CORS request
                var xhr = new XMLHttpRequest();
                xhr.open('GET', url, true);
                xhr.onload = function() {
                    // display response
                    d.innerHTML = xhr.responseText;
		    var metas = d.getElementsByTagName("meta");
		    for (var i = 0; i < metas.length; i++) {
			metas[i].parentNode.removeChild(metas[i]);
		    }
			
		    var styles = d.getElementsByTagName("style");
		    for (var i = 0; i < styles.length; i++) {
			styles[i].parentNode.removeChild(metas[i]);
		    }
		    d.removeChild(d.firstChild());
                };
                xhr.send();
            }
        }
    </script>
