{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle) }}

{{ partial "short-text" .Params.blurb}}

{{ partial "2-up" .Params }}

{{ partial "text-and-image" (dict "heading" .Params.experience.heading "text" .Params.experience.text "buttonText" "Read more" "buttonLink" "/experience") }}

{{ partial "text-and-image" (dict "heading" .Params.project.heading "text" .Params.project.text "buttonText" "Learn more" "buttonLink" "/project") }}

{{ partial "blog" . }}

{{ end }}
